.page-body
{
    background-color: #e1e3e4;
    color: #000;
}
h2,h4, .todays-row > td {
    color: #fff;
    text-transform: uppercase;
}

h3, h5 {
    color: #fff;
}
.login-container
{
    margin-top: 10px;
}

.placeholder50
{
    min-height: 50px;
}

.placeholder10
{
    min-height: 10px;
}

.placeholder5
{
    min-height: 5px;
}

.placeholder20
{
    min-height: 20px;
}

.placeholder60
{
    min-height: 60px;
}

.placeholder80
{
    min-height: 80px;
}

.register-button
{
    margin-top: 10px;
}

.alert
{
    margin-bottom: 0 !important;
    max-width: 320px;
}

.navbar-text-custom
{
    /*color: white !important;*/
}

.control
{
    display: inline;
}

.label-left
{
    min-width: 200px;
    text-align: right;
    margin-right: 10px;
}

.control-label.label-left
{
    vertical-align: top;
}

.tournament-input-md
{
    min-width: 300px;
}

.tournament-input-sm
{
    min-width: 260px;
}

.tournament-input-xs
{
    min-width: 190px;
}

.mce-parent
{
    display: inline-block;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a
{
    color: #3c948b !important;
}

.well
{
    background-color: #3c948b;
    border-color: #637B71;
}

#datetimepicker
{
    max-width: 150px;
}

.inline-flex
{
    display: inline-flex;
}

.input-group-addon
{
    max-width: 40px;
    padding-top: 8px;
}

.list-group-item
{
    background-color: #87B6A7;
    border-color: #637B71;
    color: white !important;
}

.list-group-item:hover
{
    background-color: #3276B1 !important;
}

.bracket
{
    color: red;
    background-color: #3c948b;
    min-width: 250px;
    min-height: 60px;
}

.team1
{
    color: #fff;
}

.team1:hover
{
    border-color: #fff;
}

.team2:hover
{
    border-color: #5BC0DE;
}

.bye:hover
{
    border-color: #008000;
}

.team1:hover, .team2:hover
{
    cursor: pointer;
}

.team2
{
    color: #5BC0DE;
}

.bye
{
    color: #4a806e;
}

.team1, .team2, .bye
{
    padding-left: 4px;
    border: 1px solid #000;
    overflow: hidden;
    max-height: 21px;
}

.round-desc
{
    color: green;
}

.bracket-placeholder-left
{
    width: 250px;
    height: 30px;
}

.round-table, .bracket-table-row-container
{
    display: inline;
    position: absolute;
}

.bracket-table-row, .round-table
{
    width: 200px;
}

.bracket-container
{
    /*LEFT and TOP changes the offset of bracket*/
    top: 20px;
    left: 20px;

}

.round-table-placeholder
{
    width: 20px;
    display: inline-block;
    height: 20px;
}

.bracket-connector
{
    position: absolute;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

/*  Tournament states:      */
/*      0 - not started,    */
/*      1 - started,        */
/*      2 - paused,         */
/*      3 - finished,       */
/*      4 - closed          */
.state0
{
    border-left-color: #999999;
}

.state1
{
    border-left-color: #008000;
}

.state2
{
    border-left-color: orange;
}

.state3
{
    border-left-color: #2b669a;
}

.state4
{
    border-left-color: darkred;
}

.state0:hover
{
    background-color: #999999 !important;
}

.state1:hover
{
    background-color: #008000 !important;
}

.state2:hover
{
    background-color: orange !important;
}

.state3:hover
{
    background-color: #2b669a !important;
}

.state4:hover
{
    background-color: darkred !important;
}

.col-centered
{
    float: none;
    margin: 0 auto;
}
.before-button
{
    margin-left: 30px;
}

.list-state-icon
{
    margin-top: 3px;
    padding-right: 10px;
}

.popup
{
    position: relative;
    border-radius: 5%;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.popup-info
{
    position: relative;
    border-radius: 5%;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.popup-result
{
    position: relative;
    border-radius: 5%;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.addparticipantbtn
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.todays-table
{
   width: 100%;
}

.todays-list-row
{
    display: flex;
    width: 100%;
}

.todays-row-td-first, .todays-row-td-middle, .todays-row-td-last
{
    display: inline-block;
}

.todays-heading-last
{
    padding-right: 30px;
}

.todays-row-td-first
{
    width: 38%;
}

.todays-row-td-middle
{
    width: 30%;
}

.todays-row-td-last
{

    width: 30%;
    text-align: center;
}

.ajaxSearchResultsContainer
{
    height: 275px;
    width: 360px;
    overflow-y: auto;
}

#scrollbarContainer
{
    height: 285px;
    width: 360px;
}

.ajaxSearchResult
{
    width: 350px;
    cursor: pointer;
}

.active
{
    background-color: #47A447;
}

.winner
{
    background-color: #47A447;
}

.loser
{
    background-color: #D2322D;
}

.participants-heading
{
    display: inline-block;
}

.result-container
{
    border-left: 1px solid #303030;
    width: 20px;
    padding-bottom: 2px;
    color: #999999;
}

.result-container:hover
{
    background-color: #303030;
}

.bracket-content, .tournament-winner-container
{
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 174px;
}

.result-container
{
    display: inline-block;
}

#t1result, #t2result
{
    width: 50px;
    padding-right: 0;
    color: black;
    border: none;
}

.t1win, .t2win
{
    width: 60px;
}

.result-td
{
    width: 28%;
}

.result-table
{
    width: 100%;
}

.results-heading
{
    border-bottom: 1px solid #C8C8C8;
}

.tournament-winner
{
    font-size: 150%;
    margin-left: 40px;
}

.bracket-inbetween-connector
{
    position: absolute;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.bracket-round-connector, .bracket-straight-connector
{
    position: absolute;
    border-top: 1px solid;
}

.bracket-round-connector, .bracket-straight-connector, .bracket-inbetween-connector, .bracket-connector
{
    border-color: #5e5e5e;
}

.navbar-brand
{
    padding-top: 4px;
}

.dropdown
{
    position: relative;
}

.state-text
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.info-line
{
    padding-bottom: 5px;
    border-bottom: 1px solid #303030;
}

.tournament-description
{
    display: inline-block;
    width: 100%;
}

.participants-heading
{
    width: 100%;
}

#edit-info
{
    cursor: pointer;
}

#edit-info:hover
{
    color: dodgerblue;
}

#tournamentName
{
    margin-bottom: 15px;
}

@media (min-width: 768px){
    .form-inline .input-group {
        display: inline-flex;
    }
}