<head>
	<title>Competitive event manager</title>
	<script src="js/jquery-1.11.0.js"></script>
	<!-- Bootstrap core CSS -->
	<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
	{*<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">*}
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">


	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style type="text/css"></style>


</head>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="js/bootstrap.min.js"></script>